.column {float: left;
		font-family: sans-serif;
		margin: 0px 15px;  
		    /* 0px top and bottom, 15px left-and-right */
}

.very-narrow { width: 780px; }
.narrow { width: 780px; }
.wide { width: 780px; }

.panel {
	overflow: hidden;
}

#main {width: 800px;
	margin: auto;
}

#mainTitle {
	font-size: 28px; 
}

h1{
	font-size: 20px;
}